/* src/components/Toolbar/styles/TupletControls.css */

.riff-TupletIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  line-height: 1;
}

.riff-TupletIcon__number {
  font-weight: bold;
  font-size: 11px;
}

.riff-TupletIcon__dots {
  display: flex;
  gap: 2px;
  margin-top: 2px;
}

.riff-TupletIcon__dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: currentColor;
}
